

.gridCell{
  border: 1px solid #999999;
  /* display: */
  width: 15px;
  height: 15px;
  background-color: white;
}

.colorCell{
	border: 1px solid black;
  /* display: flex; */
  width: 30px;
  height: 30px;
}

.gridRow{
  display: inline-flex;
}
/* #blank{
  display: block;
} */

#pp-canvas{
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  width: 510px;
  float: left;
  margin-right: 30px;
}

#pp-colors{
  display: flex;
  width: 6%;
  float: left;
  margin-right: 10px;
}

#clear{
  border: 1px solid black;
  color: white;
  width: 92px;
  float: left;  
  margin-right: 10px;
  background-color: red;
  text-align: center;
}

#erase{
  border: 1px solid black;
  background-color: blue;
  color: white;
  width: 40px;
  float: left;
  margin-right: 10px;
  text-align: center;
}

#display{
  border: 1px solid black;
  color: white;
  text-align: center;
  text-shadow: 1px 1px black;
  padding: 15px;
  float: left;
  width: 50px;
  height: 50px;

}

#fill{
  float: left;
  background-color: yellow;
  color: black;
  border: 1px solid black;
  width: 23px;
  text-align: center;
  margin-left: 10px;
}

#draw{
  float: left;
  background-color: orange;
  color: black;
  border: 1px solid black;
  width: 38px;
  text-align: center;
  margin-left: 10px;
}