.gridCell, .gridHead {
	border: 1px solid #999999;
  display: table-cell;
  width: 15px;
  height: 15px;
}

.colorRow{
	display: table-row;
}

.colorCell{
	border: 1px solid #999999;
	display: table-cell;
  width: 25px;
  height: 25px;
}

#blank{
  display: block;
  margin-bottom: 50px;
}
